body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.navigation {
  text-decoration: none;

  color: #ffffff;
}
.logo {
  justify-self: start;
}
.login-btn {
  font-weight: 400;
  background-color: #0b0e66;
  color: #26c6ea;

  border: #26c6ea solid 2px;
  border-radius: 35px 0 35px 0;
  height: 41.69px;
  width: 141px;
  margin-right: 49px;
  text-align: center;
  font-family: "Headland One", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.join-button {
  font-family: "Headland One", sans-serif;
  font-weight: 400;
  background-color: #0b0e66;
  color: #26c6ea;
  border-radius: 45px 0 45px 0;
  border: #26c6ea solid 2px;
  height: 80px;
  width: 260px;
  font-weight: 400;
  font-size: 24px;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}
.language-navi {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}
.language-Ukrainian {
  color: #ffffff;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 20px;
}
.button-trailer {
  font-weight: 400;
  background-color: #0b0e66;
  color: #26c6ea;
  border-radius: 45px 0 45px 0;
  border: #26c6ea solid 2px;
  height: 80px;
  width: 260px;
  font-family: "Headland One", sans-serif;
  font-weight: 400;
  font-size: 24px;
 
}
.learn-language {
  font-family: "Headland One", sans-serif;
}

header {
  background: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),
    url(../images/rectangle104.png);
  background-size: cover;
  height: 150px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 3px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.navigation1 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-right: 38px;
}
.navigation2 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-right: 38px;
}
.navigation3 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.quote-title {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 36px;
}
.quote-name {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}
.quote-name::after{
  content: "";
  height: 120px;
  display: block;
 background-image: url(../images/rectangle8.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
  margin-top: 20px;
  margin-bottom: 20px;
  
  
}
.quote-img {
  display: flex;
}
.nav::after {
  color: #94cfff;
}
.messengers{
 list-style: none;
 display: flex; 
 flex-direction: column;
 gap: 25px;
}
.footer {
  background: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),
    url(../images/rectangle12.png);
  background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding: 35px 0;
 
}
.footer-mails{
  padding-top: 45px ;
  padding-left: 80px;
  border-left: 2px solid #fff;
flex-grow: 1;
}
.container-footer{
  display: flex;
  gap: 80px;
  align-items: center;
  
}

.header-right {
  display: flex;
  gap: 10px;
  justify-self: end;
}
.hero {
  background-image: url(../images/group481.png);
  background-size: cover;
  background-position: center;

  padding: 180px 0;
  margin: 0 auto;
}
.hero-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trailer {
  background-image: url(../images/rectangle10.png);
  background-size: cover;
  background-position: center;
  height: 741px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-email {
  font-weight: 400;
  font-size: 20px;
}
.footer-email-1 {
  font-weight: 400;
  font-size: 20px;
}
.footer-text {
  font-weight: 400;
  font-size: 14px;
}
.cards-list {
  display: flex;
  column-gap: 36px;
  flex-wrap: wrap;
  row-gap: 25px;
}
.cards {
  flex-basis: calc((100% - 72px) / 3);
  text-align: center;
  background-color: #ffffffa2;
}
.learn-language {
  background-image: url(../images/rectangle20.png);
  background-size: cover;
  background-position: center;
  padding-top: 58px;
  padding-bottom: 58px;
}
.language-switcher {
  color: #ffffff;
}
.Ukrainian {
  margin-top: 36px;
  margin-bottom: 40px;

  font-family: "Headland One", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.container-footer{
  display: flex;
}
.navi {
  margin-top: 40px;
  margin-bottom: 36px;

  font-family: "Headland One", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.learn-language-title {
  text-align: center;
  font-family: "Headland One", sans-serif;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dog {
  background-color: #ffffff;
  text-align: center;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border: 2px solid #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
.cards {
  list-style: none;
}
